@import "_reset";
@import "_variables";
@import "_mixins";
@import "_responsive";
@import "_general";

// sections
@import "components/header";
@import "components/homepage";
@import "components/our-approach";
@import "components/screens-slider";
