.site-footer {
  background-color: $bg-black;
  padding: 72px 0 18px 0;
  @include tablet {
    padding: 32px 0 10px 0;
  }
  @include mobile-w {
    padding: 15px 0 24px 0;
  }
  @include mobile {
    padding: 15px 0 24px 0;
  }
}
.footer {
  padding: 0 106px 0 106px;

  @include tablet {
    padding: 0px;
  }
  @include mobile-w {
    padding: 0px;
  }
  @include mobile {
    padding: 0px;
  }
  &__top {
    display: flex;
    justify-content: space-between;
  }
  &__bottom {
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include tablet {
      padding-top: 20px;
    }
    @include mobile-w {
      padding-top: 20px;
    }
    @include mobile {
      padding-top: 20px;
    }
    &__copyright {
      color: $input;
      font-size: 14px;
      font-weight: 300;
      @include tablet {
        font-size: 10px;
      }
      @include mobile-w {
        font-size: 10px;
      }
      @include mobile {
        font-size: 9px;
      }
    }
  }
}
.footer-list {
  @include mobile {
    display: none;
  }
  &__title {
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    color: $input;
    margin-bottom: 18px;
    @include tablet {
      font-size: 14px;
    }
    @include mobile-w {
      font-size: 14px;
    }
    @include mobile {
      display: none;
    }
  }
  &__item {
    margin: 6px 0 6px 0;
    @include tablet {
      margin: 4px 0 4px 0;
    }
    @include mobile-w {
      margin: 6px 0 6px 0;
    }
    @include mobile {
      margin: 6px 0 6px 0;
      width: 100%;
    }
    &__link {
      font-size: 14px;
      font-weight: 300;
      line-height: 24px;
      letter-spacing: 0em;
      color: $input;
      @include tablet {
        font-size: 12px;
      }
      @include mobile-w {
        font-size: 12px;
      }
      @include mobile {
        font-size: 12px;
      }
    }
  }
}
.install-list {
  margin-top: 10px;
  @include tablet {
    margin-top: 0px;
  }
  @include mobile-w {
    margin-top: 0px;
  }
  @include mobile {
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
  }
}
.socials {
  display: flex;
  &__item {
    &__link {
      background: rgba(255, 255, 255, 0.1);
      @include flex;
      width: 32px;
      height: 32px;
      border-radius: 100%;
      margin: 0 12px 0 12px;
      @include mobile {
        margin: 0 6px 0 6px;
      }
    }
  }
}
.app-store {
  @include mobile {
    width: 90%;
  }
}
