.our-approach {
  padding: 181px 0 52px 0;
  @include mobile-w {
    padding: 30px 0 0 0;
    height: auto;
  }
  @include mobile {
    padding: 30px 0 0 0;
    height: auto;
  }
}
.approach {
  padding-top: 80px;
  display: flex;
  justify-content: space-between;
  @include mobile-w {
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 30px;
  }
  @include mobile {
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 30px;
  }
  &__container {
    @include tablet {
      width: 25%;
    }
    @include mobile {
      width: 50%;
    }
    &__img-wrapper {
      display: flex;
    }
    &__heading {
      &__title {
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 0em;
        padding-bottom: 4px;
        @include tablet {
          font-size: 15px;
        }
        @include mobile-w {
          text-align: center;
        }
        @include mobile {
          text-align: center;
        }
      }
      &__subtitle {
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0em;
        max-width: 255px;
        @include tablet {
          font-size: 13px;
          width: 90%;
        }
        @include mobile-w {
          margin-bottom: 30px;
          text-align: center;
        }
        @include mobile {
          margin-bottom: 30px;
          text-align: center;
        }
      }
    }
  }
}
.svg-box {
  width: 72px;
  height: 72px;
  background: #fafafa;
  border-radius: 100px;
  margin-bottom: 16px;
  @include flex;
  @include tablet {
    width: 50px;
    height: 50px;
  }
  @include mobile-w {
    margin: auto;
    margin-bottom: 16px;
  }
  @include mobile {
    margin: auto;
    margin-bottom: 16px;
  }
}
.line-box {
  display: flex;
  align-items: center;
  @include tablet {
    width: calc(100% - 80px);
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  @include mobile-w {
    width: calc(100% - 80px);
    justify-content: center;
    display: flex;
    flex-direction: column;
    display: none;
  }
  @include mobile {
    width: calc(100% - 80px);
    justify-content: center;
    display: flex;
    flex-direction: column;
    display: none;
  }

  @include mobile {
    display: none;
  }

  &__line {
    width: 100%;
    @include tablet {
      padding-left: 10px;
    }
    @include mobile-w {
      padding-left: 10px;
    }
    @include mobile {
      padding-left: 10px;
    }
  }
}
.line-down {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 10px;
}
.line-up {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 10px;
}
